<h1>Chef Tracker</h1>
{{#each model as |chef|}}
  {{#if chef.isCooking}}
    <li id="available">
      {{chef.name}}
      <button {{action 'makeExit' chef}}>Exit</button>
    </li>
  {{else}}
    <li class="not-available">
      {{chef.name}}
      <button {{action 'makeEnter' chef}}>Enter</button>
    </li>
    {{/if}}
{{/each}}
