<div class="flex-container">
  <div class="flex-item">
    <h1>Chef Tracker</h1>
    <p>{{availableChefs.length}} out of {{chefsLength}} chefs are cooking right now!</p>
    <p>Our {{chefsLength}} chefs teach {{totalStudents}} students.</p>
    <ul>
    {{#each model as |chef|}}
      <li class="{{if chef.isCooking '' 'not-cooking'}}">
        {{#link-to 'chefs.chef' chef}}{{chef.name}}{{/link-to}}!
        {{#if chef.isCooking}}
          <button {{action 'makeExit' chef}}>Exit</button>
        {{else}}
          <button {{action 'makeEnter' chef}}>Enter</button>
        {{/if}}
      </li>
    {{/each}}
    </ul>
    <hr>
    {{input value=newItem}}
    <button {{action 'saveNewItem'}}>Save</button>
  </div>
  <div class="flex-item">
    {{outlet}}
  </div>
</div>
